// body {
//   margin: 5px;
//   background:
//     linear-gradient(rgba(200, 0, 100, 0.5), rgba(0, 0, 100, 0.5)),
//     url(../assets/bj.jpeg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-attachment: fixed;
//   background-size: cover;
//   padding: 5px;
//   color: white;
// }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: blue;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.cardImg img {
  width: 300px;
  height: 300px;
}

.cardsContainer {
  width: 90%;
  margin: 85px auto;
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cards {
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

body {
  background-color: #fcfcfc;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentsBtn {
  width: 100px;
  height: 35px;
  border-radius: 8px;
  margin: 20px 0;
}
#comments {
  display: flex;
  align-items: center;
  background-color: rgb(197, 197, 197);
  position: absolute;
  width: 400px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  flex-direction: column;
  visibility: visible;
  justify-content: space-between;
}
.fast {
  width: 200px;
}
.closeBtn {
  width: 20px;
  margin-top: 120px;
  align-self: flex-end;
}
.cm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 200px;
  justify-content: space-around;
}
footer {
  margin-top: auto;
}
.insights {
  height: 50%;
}
